---
import Layout from "../layouts/Layout.astro";
const user = Astro.locals.user;
---

<Layout title="homepage">
  <main
    class="flex flex-col items-center justify-center min-h-screen text-white"
  >
    {user.name}
  </main>
</Layout>
