---
import Layout from "../layouts/Layout.astro";
---

<Layout title="homepage">
  <main class="flex flex-col items-center justify-center min-h-screen">
    Vinuka Thejana Kodituwakku
  </main>
</Layout>
